@*@model IEnumerable<BookDepoSystem.Data.Models.Book>*@
@model PaginationViewModel<BookDepoSystem.Data.Models.Book>
@*@model BookDepoSystem.Presentation.Models.PaginationViewModel<BookDepoSystem.Data.Models.Book>*@

@{
    ViewData["Title"] = @T.BookTableTitle;
}

<h2 class="m-3">@T.BookTableTitle</h2>

<div class="d-flex justify-content-between align-items-center m-3">
    <div>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
    
    <form method="get" class="d-flex align-items-center">
        <input type="text" name="search" class="form-control" placeholder="..." value="@ViewData["Search"]" />
        <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
        <button type="submit" class="btn btn-primary ms-2">
            <i class="bi bi-search"></i>
        </button>
        <a asp-action="Books" class="btn btn-secondary ms-2">
            <i class="bi bi-x-lg"></i>
        </a>
    </form>

</div>

<div class="table-responsive ">
    
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>@T.BookTitleText</th>
            <th>@T.BookAuthorText</th>
            <th>@T.BookGenreText</th>
            <th>@T.BookLocationText</th>
            <th>@T.BookPublishedDateText</th>
            <th>@T.BookQuantityAvailableText</th>
            <th>@T.OperationsText</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Items.Any())
        {
            <tr>
                <td colspan="7">
                    <span class="d-block w-100 text-center">НЯМА НАМЕРЕНИ КНИГИ</span>
                </td>
            </tr>
        }
        else
        {
            @foreach (var book in Model.Items)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.Location</td>
                    <td>@book.PublishedDate.ToShortDateString()</td>
                    <td>@book.QuantityAvailable</td>

                    <td>
                        <div class="d-flex gap-2">
                            <a asp-action="Edit" asp-route-id="@book.BookId" asp-route-search="@ViewData["Search"]" asp-route-pageSize="@ViewData["PageSize"]" data-bs-toggle="tooltip" title="Промени"  class="btn btn-sm btn-icon text-primary" >
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@book.BookId" asp-route-search="@ViewData["Search"]" asp-route-pageSize="@ViewData["PageSize"]" data-bs-toggle="tooltip" title="Изтрий" class="btn btn-sm btn-icon text-danger" >
                                <i class="bi bi-trash"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@book.BookId" asp-route-search="@ViewData["Search"]" asp-route-pageSize="@ViewData["PageSize"]" data-bs-toggle="tooltip" title="Детайли" class="btn btn-sm btn-icon text-dark">
                                <i class="bi bi-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>

<!-- Pagination Controls -->
<div class="d-flex justify-content-between align-items-center m-3">
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Books" asp-route-page="@(Model.PageIndex - 1)" asp-route-pageSize="@ViewData["PageSize"]" asp-route-search="@ViewData["Search"]" class="btn btn-outline-primary">@T.PreviousPageText</a>
    }

    <span>@T.CurrentPageText @Model.PageIndex / @Model.TotalPages</span>

    @if (Model.HasNextPage)
    {
        <a asp-action="Books" asp-route-page="@(Model.PageIndex + 1)" asp-route-pageSize="@ViewData["PageSize"]" asp-route-search="@ViewData["Search"]" class="btn btn-outline-primary">@T.NextPageText</a>
    }
</div>