@model BookDepoSystem.Presentation.Models.BookViewModel

@{
    ViewData["Title"] = @T.CreateBookTitle;
}

<h2 class="form-group">@T.CreateBookTitle</h2>

<form asp-action="Create" asp-controller="Book" method="post" enctype="multipart/form-data">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">@T.BookTitleText</label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Author" class="control-label">@T.BookAuthorText</label>
                    <input asp-for="Author" class="form-control"/>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Genre" class="control-label">@T.BookGenreText</label>
                    <select asp-for="Genre" class="form-control">
                        <option value="">Избери жанр</option>
                        <option value="Антиутопия">Антиутопия</option>
                        <option value="Биография">Биография</option>
                        <option value="Готическа фантастика">Готическа фантастика</option>
                        <option value="Драма">Драма</option>
                        <option value="Епос">Епос</option>
                        <option value="Исторически">Исторически</option>
                        <option value="Историческа фантастика">Историческа фантастика</option>
                        <option value="Класически">Класически</option>
                        <option value="Комикси">Комикси</option>
                        <option value="Магически реализъм">Магически реализъм</option>
                        <option value="Мистерия">Мистерия</option>
                        <option value="Научна литература">Научна литература</option>
                        <option value="Научна фантастика">Научна фантастика</option>
                        <option value="Поезия">Поезия</option>
                        <option value="Приключенски">Приключенски</option>
                        <option value="Романтика">Романтика</option>
                        <option value="Самоусъвършенстване">Самоусъвършенстване</option>
                        <option value="Трилър">Трилър</option>
                        <option value="Философия">Философия</option>
                        <option value="Философска фантастика">Философска фантастика</option>
                        <option value="Фентъзи">Фентъзи</option>
                        <option value="Хорър">Хорър</option>
                        <option value="Художествена литература">Художествена литература</option>
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Location" class="control-label">@T.BookLocationText</label>
                    <input asp-for="Location" class="form-control"/>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Information" class="control-label">@T.BookInformationText</label>
                    <textarea asp-for="Information" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Information" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PublishedDate" class="control-label">@T.BookPublishedDateText</label>
                    <input asp-for="PublishedDate" type="date" class="form-control"/>
                    <span asp-validation-for="PublishedDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="QuantityAvailable" class="control-label">@T.BookQuantityAvailableText</label>
                    <input asp-for="QuantityAvailable" type="number" class="form-control" min="1"/>
                    <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Isbn" class="control-label">@T.BookISBNText</label>
                    <input asp-for="Isbn" class="form-control"/>
                    <span asp-validation-for="Isbn" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Sku" class="control-label">@T.BookSKUText</label>
                    <input asp-for="Sku" class="form-control"/>
                    <span asp-validation-for="Sku" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Pages" class="control-label">@T.BookPagesText</label>
                    <input asp-for="Pages" type="number" class="form-control" min="1"/>
                    <span asp-validation-for="Pages" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AgeRange" class="control-label">@T.BookAgeRangeText</label>
                    <select asp-for="AgeRange" class="form-control">
                        <option value="">Избери възрастов диапазон</option>
                        <option value="Деца">Деца</option>
                        <option value="Тийнейджъри">Тийнейджъри</option>
                        <option value="Възрастни">Възрастни</option>
                    </select>
                    <span asp-validation-for="AgeRange" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CoverImage" class="control-label">@T.BookCoverImageText</label>
                    <input asp-for="CoverImage" class="form-control" type="file" name="coverImageFile" accept="image/jpeg, image/png, image/svg+xml"/>
                    <span asp-validation-for="CoverImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CoverType" class="control-label">@T.BookCoverTypeText</label>
                    <select asp-for="CoverType" class="form-control">
                        <option value="">Избери вид корица</option>
                        <option value="Твърда">Твърда</option>
                        <option value="Мека">Мека</option>
                    </select>
                    <span asp-validation-for="CoverType" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">@T.CreateButtonText</button>
                    <a asp-action="Books" class="btn btn-secondary">@T.BackButtonText</a>
                </div>
            </div>
        </div>
    </div>
</form>