@model BookDepoSystem.Presentation.Models.BookViewModel

@{
    ViewData["Title"] = @T.DetailsBookTitle;
}

<h2 class="form-group">@T.DetailsBookTitle</h2>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h6 class="fw-bold">@T.BookCoverImageText:</h6>
                @if (!string.IsNullOrEmpty(Model.CoverImage))
                {
                    <img src="~/img/books/@Model.CoverImage" alt="Book Cover" class="img-fluid rounded" style="max-width: 150px"/>
                }
                else
                {
                    <div class="text-muted">Няма налична корица</div>
                }
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookTitleText:</h6>
                <p>@Model.Title</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookAuthorText:</h6>
                <p>@Model.Author</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookGenreText:</h6>
                <p>@Model.Genre</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookLocationText:</h6>
                <p>@Model.Location</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookInformationText:</h6>
                <p>@Model.Information</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookPublishedDateText:</h6>
                <p>@Model.PublishedDate!.Value.ToShortDateString()</p>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <h6 class="fw-bold">@T.BookQuantityAvailableText:</h6>
                <p>@Model.QuantityAvailable!.Value</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookISBNText:</h6>
                <p>@Model.Isbn</p>
            </div>

            <div class="form-group">
                <h6  class="fw-bold">@T.BookSKUText:</h6>
                <p>@Model.Sku</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookPagesText:</h6>
                <p>@Model.Pages!.Value</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookAgeRangeText:</h6>
                <p>@Model.AgeRange</p>
            </div>

            <div class="form-group">
                <h6 class="fw-bold">@T.BookCoverTypeText:</h6>
                <p>@Model.CoverType</p>
            </div>
        </div>
    </div>
    
    <!-- Action Buttons for Delete View -->
    <div class="row mt-4">
        <div class="col-12">
                <input type="hidden" asp-for="BookId" />
                <div class="form-group">
                    <a asp-action="Books" class="btn btn-secondary">@T.CancelText</a>
                </div>
        </div>
    </div>
</div>