@model ForgotPasswordViewModel

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = @T.ForgotPasswordTitle;
}

<h3 class="card-title text-center">@T.ForgotPasswordTitle</h3>

<form class="user" asp-action="ForgotPassword" method="post">
    <!-- Email Input -->
    <div class="form-group">
        <input asp-for="Email"
               class="form-control"
               aria-describedby="emailHelp"
               placeholder="@T.EmailPlaceholderText">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <!-- Submit Button -->
    <div class="form-group d-grid">
        <button type="submit" class="btn btn-primary btn-block">@T.SendResetRequestButtonText</button>
    </div>

    <!-- Back to Login Link -->
    <div class="form-group text-center">
        <a href="@Url.Action("Login")" class="text-decoration-none">@T.IRememberedMyPasswordLinkText</a>
    </div>
</form>