@using System.Net.Http
@using BookDepoSystem.Presentation.Extensions

@model LoginViewModel
@{
    Layout = "_AuthLayout";
    var globalError = this.ViewContext.ModelState.GetFirstGlobalError();
}

<h3 class="card-title text-center">@T.LoginTitle</h3>

@if (!string.IsNullOrWhiteSpace(globalError))
{
    <span class="d-block alert alert-danger">
        @globalError
    </span>
}

@if (TempData.ContainsKey("MessageText"))
{
    <span class="d-block alert alert-@TempData["MessageVariant"]">
        @TempData["MessageText"]
    </span>
}

<form class="user" asp-action="Login" method="post">
    <!-- Email Input -->
    <div class="form-group">
        <input asp-for="Email"
               class="form-control"
               aria-describedby="emailHelp"
               placeholder="@T.EmailPlaceholderText">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <!-- Password Input -->
    <div class="form-group">
        <input asp-for="Password"
               type="password"
               class="form-control"
               placeholder="@T.PasswordPlaceholderText">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <!-- Remember Me Checkbox -->
    <div class="form-group">
        <input type="checkbox" class="form-check-input" id="rememberMe">
        <label class="form-check-label" for="rememberMe">@T.RememberMeLabel</label>
    </div>
    <!-- Submit Button -->
    <div class="form-group d-grid">
        <button type="submit" class="btn btn-primary btn-block">@T.LoginButtonText</button>
    </div>
    <!-- Forgot Password Link -->
    <div class="form-group text-center">
        <a href="@Url.Action("ForgotPassword")" class="text-decoration-none">@T.ForgotPasswordLinkText</a>
    </div>
</form>