@model ResetPasswordViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = @T.ResetPasswordTitle;
}

<h3 class="card-title text-center">@T.ResetPasswordTitle</h3>

<form class="user" asp-action="ResetPassword" asp-route-email="@Model.Email" asp-route-token="@Model.Token"  method="post">
    <!-- Hidden fields for email and token -->
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <!-- New Password Input -->
    <div class="form-group">
        <input type="password"
               asp-for="Password"
               class="form-control"
               placeholder="@T.PasswordPlaceholderText">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <!-- Confirm Password Input -->
    <div class="form-group">
        <input type="password"
               asp-for="ConfirmPassword"
               class="form-control"
               placeholder="@T.ConfirmPasswordPlaceholderText">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>

    <!-- Submit Button -->
    <div class="form-group d-grid">
        <button type="submit" class="btn btn-primary btn-block">@T.ResetPasswordButtonText</button>
    </div>
</form>