@{
  var controller = ViewContext.RouteData.Values["Controller"]!.ToString();
  var action = ViewContext.RouteData.Values["Action"]!.ToString();
}

<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a asp-controller="Home" asp-action="Index" class="logo">
        <img
          src="~/img/libraflow-logo.svg"
          alt="navbar brand"
          class="navbar-brand"
          height="35"
          width="130"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item @(controller == "Home" && action == "Index" ? "active" : "")">
          <a asp-controller="Home" asp-action="Index">
            <i class="fas fa-home"></i>
            <p>Начало</p>
          </a>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Компоненти</h4>
        </li>

      <li class="nav-item @(controller == "Book" && action == "Books" ? "active" : "")">
        <a asp-controller="Book" asp-action="Books">
          <i class="fas fa-table"></i>
          <p>@T.BookManagementNavItem</p>
        </a>
      </li>

      <li class="nav-item @(controller == "Renter" && action == "Renters" ? "active" : "")">
        <a asp-controller="Renter" asp-action="Renters">
          <i class="fas fa-table"></i>
          <p>@T.RenterManagementNavItem</p>
        </a>
      </li>

      <li class="nav-item @(controller == "Rent" && action == "Rents" ? "active" : "")">
        <a asp-controller="Rent" asp-action="Rents">
          <i class="fas fa-table"></i>
          <p>Наеми</p>
        </a>
      </li>
      </ul>
    </div>
  </div>
</div>