@model RentViewModel

@{
    ViewData["Title"] = @T.CreateRentTitle;
}

@section Styles {

    <style>
        .tempus-dominus-widget .picker {
            font-size: 0.8rem !important;
            transform: scale(0.8);
            transform-origin: top right;
        }

        #datetimepicker input {
            padding: 5px;
            height: 35px;
        }

        #datetimepicker .input-group-text {
            padding: 5px;
            font-size: 0.85rem;
        }
    </style>
}

@section Scripts {

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        new tempusDominus.TempusDominus(document.getElementById("rentDatePicker"), {
            localization: {
                format: 'dd-MM-yyyy HH:mm',
            },
            display: {
                sideBySide: true,
                icons: {
                    time: "bi bi-clock",
                    date: "bi bi-calendar",
                    up: "bi bi-arrow-up",
                    down: "bi bi-arrow-down",
                },
            },
        });

        new tempusDominus.TempusDominus(document.getElementById("dueDatePicker"), {
            localization: {
                format: 'dd-MM-yyyy HH:mm',
            },
            display: {
                sideBySide: true,
                icons: {
                    time: "bi bi-clock",
                    date: "bi bi-calendar",
                    up: "bi bi-arrow-up",
                    down: "bi bi-arrow-down",
                },
            },
        });
    });
</script>
}


<h2 class="form-group">@T.CreateRentTitle</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="RentDate">@T.RentDateText</label>
        <div class="input-group" id="rentDatePicker" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" asp-for="RentDate" class="form-control" data-td-target="#datetimepicker"/>
            <span class="input-group-text" data-td-toggle="datetimepicker">
                <i class="bi bi-calendar"></i>
            </span>
        </div>
        <span asp-validation-for="RentDate" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="DueDate">@T.DueDateText</label>
        <div class="input-group" id="dueDatePicker" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" asp-for="DueDate" class="form-control" data-td-target="#dueDatePicker"/>
            <span class="input-group-text" data-td-toggle="datetimepicker">
                <i class="bi bi-calendar"></i>
            </span>
        </div>
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BookId">@T.RentBookText</label>
        <select asp-for="BookId" asp-items="ViewBag.Books" class="form-control"></select>
        <span asp-validation-for="BookId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RenterId">@T.RentRenterText</label>
        <select asp-for="RenterId" asp-items="ViewBag.Renters" class="form-control"></select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">@T.CreateButtonText</button>
        <a asp-action="Rents" class="btn btn-secondary">@T.BackButtonText</a>
    </div>
</form>