@model IEnumerable<RentViewModel>

@{
    ViewData["Title"] = @T.RentTableTitle;
}

<h2 class="m-3">@T.RentTableTitle</h2>

<div class="d-flex justify-content-between align-items-center m-3">
    <div>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>

    <form method="get" class="d-flex align-items-center">
        <input type="text" name="search" class="form-control" placeholder="..." value="@ViewData["Search"]" />
        <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
        <button type="submit" class="btn btn-primary ms-2">
            <i class="bi bi-search"></i>
        </button>
        <a asp-action="Rents" class="btn btn-secondary ms-2">
            <i class="bi bi-x-lg"></i>
        </a>
    </form>

</div>

<div class="table-responsive ">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>@T.RentDateText</th>
            <th>@T.DueDateText</th>
            <th>@T.ReturnDateText</th>
            <th>@T.RentStatusText</th>
            <th>@T.RentBookText</th>
            <th>@T.RentRenterText</th>
            <th>@T.OperationsText</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var rent in Model)
        {
            <tr>
                @*<td>@rent.RentDate</td>
                <td>@rent.DueDate</td>
                <td>@(rent.ReturnDate == DateTime.MinValue ? "Not Returned" : rent.ReturnDate!.Value.ToString("dd.MM.yyyy HH:mm"))</td>*@
                <td>@(rent.RentDate.ToString("dd-MM-yyyy HH:mm"))</td>
                <td>@(rent.DueDate.ToString("dd-MM-yyyy HH:mm"))</td>
                <td>@(rent.ReturnDate == DateTime.MinValue ? "Невърната" : rent.ReturnDate.ToString("dd-MM-yyyy HH:mm"))</td>
                <td>
                    @*<span class="badge bg-success" style="font-size: 1rem;">
                        @rent.Status
                    </span>*@

                    @if (rent.Status == "Confirmed")
                    {
                        <span class="badge bg-secondary" style="font-size: 1rem;">
                            @rent.Status
                        </span>
                    }
                    else if (rent.Status == "Active")
                    {
                        <span class="badge bg-primary" style="font-size: 1rem;">
                            @rent.Status
                        </span>
                    }
                    else if (rent.Status == "Overdue")
                    {
                        <span class="badge bg-warning" style="font-size: 1rem;">
                            @rent.Status
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-success" style="font-size: 1rem;">
                            @rent.Status
                        </span>
                    }
                </td>
                @*<td>@rent.Status</td>*@
                <td>
                    @*@rent.BookTitle*@

                    <a asp-controller="Book" asp-action="Details" asp-route-id="@rent.BookId" asp-route-search="@ViewData["Search"]" asp-route-pageSize="@ViewData["PageSize"]" target="_blank" style="color: inherit;">
                        @rent.BookTitle
                    </a>
                </td>
                <td>@rent.RenterName</td>
                <td>
                    @if (rent.Status != "Completed")
                    {
                        @*<a asp-action="Return" asp-route-rentId="@rent.RentId" class="btn btn-primary">Update Return Date</a>*@
                        
                        <a asp-action="Return" asp-route-rentId="@rent.RentId" asp-route-search="@ViewData["Search"]" asp-route-pageSize="@ViewData["PageSize"]" data-bs-toggle="tooltip" title="Задай дата на връщане"  class="btn btn-sm btn-icon text-primary" >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>