@model RentViewModel

@{
    ViewData["Title"] = @T.ReturnRentTitle;
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new tempusDominus.TempusDominus(document.getElementById("returnDatePicker"), {
                localization: {
                    format: 'dd-MM-yyyy HH:mm',
                },
                display: {
                    sideBySide: true,
                    icons: {
                        time: "bi bi-clock",
                        date: "bi bi-calendar",
                        up: "bi bi-arrow-up",
                        down: "bi bi-arrow-down",
                    },
                },
            });
        });
    </script>
}

<h2 class="form-group">@T.ReturnRentTitle</h2>

<form asp-action="Return" method="post">
    <input type="hidden" asp-for="RentId" />
    <input type="hidden" asp-for="RentDate" />
    <input type="hidden" asp-for="DueDate" />
    <input type="hidden" asp-for="BookTitle" />
    <input type="hidden" asp-for="RenterName" />

    <div class="form-group">
        <label>@T.RentBookText</label>
        <input class="form-control" value="@Model.BookTitle" disabled />
    </div>

    <div class="form-group">
        <label>@T.RentRenterText</label>
        <input class="form-control" value="@Model.RenterName" disabled />
    </div>

    <div class="form-group">
        <label asp-for="ReturnDate">@T.ReturnDateText</label>
        <div class="input-group" id="returnDatePicker" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" class="form-control" asp-for="ReturnDate" data-td-target="#returnDatePicker"/>
            <span class="input-group-text" data-td-toggle="datetimepicker">
                <i class="bi bi-calendar"></i>
            </span>
        </div>
        <span asp-validation-for="ReturnDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>@T.RentDateText</label>
        <input class="form-control" value="@Model.RentDate.ToString("dd-MM-yyyy HH:mm")" disabled />
    </div>

    <div class="form-group">
        <label>@T.DueDateText</label>
        <input class="form-control" value="@Model.DueDate.ToString("dd-MM-yyyy HH:mm")" disabled />
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success">@T.SaveText</button>
        <a asp-action="Rents" class="btn btn-secondary">@T.CancelText</a>
    </div>
</form>